.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffe600;
}
.logoApp {
  width: 300px;
}

.flag {
  width: 22px;
}

li {
  list-style: none;
  padding: 0.3rem 1.3rem;
  margin: 0.3rem;
  width: auto;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.589);
}

li a {
  color: #0624d1;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

@media (max-width: 670px) {
  .home {
    flex-direction: column;
  }

  .logoApp {
    width: 230px;
  }
}
